<section class="need-help">
    <h3>Нужна помощь?</h3>
    <img src="../i/girl.jpg" class="support-photo" />
    <form>
        <input type="text" name="name" placeholder="Имя" />
        <input type="tel" name="telephone" placeholder="Телефон" />
        <input type="submit" value="Отправить" />
        <p>или позвоните <strong>(812) 555-12-34</strong></p>
    </form>
</section>
<section class="help">
    <strong>помощь в исках</strong>
    <p>Мы на связи 24 часа в сутки</p>
</section>
<section class="guarantee">
    <strong>100%</strong>
    <p>Безопасная сделка</p>
</section>
<section class="timer">
    <p class="date">{{time | amDateFormat:'DD MMMM YYYY'}}</p>
    <p class="time">{{time | amDateFormat:'H'}}<span>:</span>{{time | amDateFormat:'mm'}}<span>:</span>{{time | amDateFormat:'ss'}}</p>
</section>
<section class="satisfied">
    <strong>2 345</strong>
    <p>Довольных клиентов</p>
</section>