<section >
    <div class="logo" ng-show="!isMobile">
        <a ui-sref="home">
            <img src="../i/logo_small.png" />
        </a>
        <p>© 2015 Nepereplaty All rights reserved</p>
    </div>
    <div class="partners">
        <p>Наши партнёры</p>
        <a href="#">
            <img src="../i/partner1.png" />
        </a>
        <a href="#">
            <img src="../i/partner2.png" />
        </a>
        <a href="#">
            <img src="../i/partner3.png" />
        </a>
        <a href="#">
            <img src="../i/partner4.png" />
        </a>
        <a href="#">
            <img src="../i/partner5.png" />
        </a>
    </div>
</section>