<nav>
    <ul>
        <li class="active">
            <p>
                <strong>1</strong>
                <span ng-show="!isMobile">Заполнить данные</span>
            </p>
        </li>
        <li>
            <p>
                <strong>2</strong>
                <span ng-show="!isMobile">Получить предложение</span>
            </p>
        </li>
        <li>
            <p>
                <strong>3</strong>
                <span ng-show="!isMobile">Дополнить данные</span>
            </p>
        </li>
        <li>
            <p>
                <strong>4</strong>
                <span ng-show="!isMobile">Заплатить</span>
            </p>
        </li>
        <li>
            <p>
                <strong>5</strong>
                <span ng-show="!isMobile">Завершить покупку</span>
            </p>
        </li>
    </ul>
</nav>
<form name="form" ng-submit="osagoCtrl.requestOffer()" novalidate>
    <div class="chapter" ng-show="isMobile"><h2><span>Шаг1 </span>Заполнить данные</h2></div>
    <section class="control-group" id="period">
        <h2><span>Период страховки</span><div ng-show="isMobile" ng-class="{wrong:((form.$submitted) && (form.periodStart.$invalid)) }"></div>
                                        <div ng-show="isMobile" ng-class="{valid:((form.$submitted) && !(form.periodStart.$invalid)) }"></div></h2>
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_periodStart">
                <p class="name">Начало страховки</p>
                <p class="error" ng-show="(form.$submitted || form.periodStart.$touched) && form.periodStart.$invalid">Выберите дату начала страховки</p>
            </label>
            <input type="text" ng-readonly="true" name="periodStart" class="big date" id="osagoCtrl_osagoInsuranceForm_periodStart" ng-model="osagoCtrl.osagoInsuranceForm.periodStart | amDateFormat:'DD MMMM YYYY'" ng-click="osagoCtrl.showPeriodStart = !osagoCtrl.showPeriodStart" required/>
        </div>
        <div pickadate=""  min-date = "osagoCtrl.insuranceStartMinData"  ng-show="osagoCtrl.showPeriodStart" ng-model="osagoCtrl.osagoInsuranceForm.periodStart"></div>
        <a class="datepicker-close" ng-show="osagoCtrl.showPeriodStart" ng-click="osagoCtrl.showPeriodStart = !osagoCtrl.showPeriodStart"><span>Закрыть</span></a>
    </section>
    <section class="control-group" id="about-car">
        <h2 ng-click="(isMobile)?(osagoCtrl.openAboutCar = !osagoCtrl.openAboutCar): osagoCtrl.openAboutCar = true;"><span>Данные по автомобилю</span><div ng-show="isMobile" ng-class="{wrong:((form.$submitted) && (form.year.$invalid || form.$error.carBrandRequired || form.$error.carModelRequired || 
                                                  !osagoCtrl.osagoInsuranceForm.carBody.value || !osagoCtrl.osagoInsuranceForm.modification.value || !osagoCtrl.osagoInsuranceForm.transmission.value || 
                                                  form.power.$invalid || form.$error.carRegionRequired || form.startUsingDate.$invalid || form.carCost.$invalid)) }"></div>
                                            <div ng-show="isMobile" ng-class="{valid:((form.$submitted) && !(form.year.$invalid || form.$error.carBrandRequired || form.$error.carModelRequired || 
                                                  !osagoCtrl.osagoInsuranceForm.carBody.value || !osagoCtrl.osagoInsuranceForm.modification.value || !osagoCtrl.osagoInsuranceForm.transmission.value || 
                                                  form.power.$invalid || form.$error.carRegionRequired || form.startUsingDate.$invalid || form.carCost.$invalid)) }"></div></h2>
        
    <div ng-show="osagoCtrl.openAboutCar">

        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_year">
                <p class="name">Год</p>
                <p class="error" ng-show="(form.$submitted || form.year.$touched) && form.year.$invalid">Год выпуска автомобиля</p>
                <p class="error" ng-show="osagoCtrl.osagoInsuranceForm.releaseYearIsLarge">Год выпуска автомобиля не должна превышать нынешний год</p>
            </label>
            <input type="number" name="year" class="big" ng-change="osagoCtrl.yearBigValue()" id="osagoCtrl_osagoInsuranceForm_year" ng-model="osagoCtrl.osagoInsuranceForm.year" min="0" placeholder="например: 2015" required />
        </div>
        
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_brand">
                <p class="name">Марка</p>
                <p class="error" ng-show="(form.$submitted || form.carBrand.$touched) && form.$error.carBrandRequired">Выберите марку</p>
            </label>
            <angucomplete-alt id="osagoCtrl_osagoInsuranceForm_brand"
                              placeholder="укажите"
                              selected-object="osagoCtrl.osagoInsuranceForm.brand"
                              remote-url="api/handbook/carBrands/{{osagoCtrl.osagoInsuranceForm.year}}/"
                              title-field="title"
                              minlength="1"
                              field-required="true"
                              field-required-class="carBrandRequired"
                              text-searching="Идёт поиск..."
                              text-no-results="Ничего не найдено"
                              input-class="big"
                              input-name="carBrand" />
        </div>
        
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_model">
                <p class="name">Модель</p>
                <p class="error" ng-show="(form.$submitted || form.carModel.$touched) && form.$error.carModelRequired">Выберите модель</p>
            </label>
            <angucomplete-alt id="osagoCtrl_osagoInsuranceForm_model"
                              placeholder="укажите"
                              selected-object="osagoCtrl.osagoInsuranceForm.model"
                              remote-url="api/handbook/carModels/{{osagoCtrl.osagoInsuranceForm.year}}/{{osagoCtrl.osagoInsuranceForm.brand.originalObject.title}}/"
                              title-field="title"
                              disable-input="!osagoCtrl.osagoInsuranceForm.brand.originalObject.value"
                              field-required="true"
                              field-required-class="carModelRequired"
                              minlength="0"
                              text-searching="Идёт поиск..."
                              text-no-results="Идёт поиск..."
                              input-class="big"
                              input-changed="osagoCtrl.getCarBodyOptions()"
                              input-name="carModel" />
        </div>
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_carBody">
                <p class="name">Тип кузова</p>
                <p class="error" ng-show="(form.$submitted) && !osagoCtrl.osagoInsuranceForm.carBody.value">Выберите тип кузова</p>
            </label>
            <div dropdown-select="osagoCtrl.carBodyOptions"
                 dropdown-onchange="osagoCtrl.getCarModificationOptions()"
                 dropdown-model="osagoCtrl.osagoInsuranceForm.carBody"
                 dropdown-item-label="text">
            </div>
        </div>
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_modification">
                <p class="name">Модификация</p>
                <p class="error" ng-show="(form.$submitted) && !osagoCtrl.osagoInsuranceForm.modification.value">Выберите модификацию</p>
            </label>
            <div dropdown-select="osagoCtrl.modificationOption"
                 dropdown-onchange="osagoCtrl.getCarTransmissionOptions()"
                 dropdown-model="osagoCtrl.osagoInsuranceForm.modification"
                 dropdown-item-label="text">
            </div>
        </div>
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_transmission">
                <p class="name">Трансмиссия</p>
                <p class="error" ng-show="(form.$submitted) && !osagoCtrl.osagoInsuranceForm.transmission.value">Выберите трансмиссию</p>
            </label>
            <div dropdown-select="osagoCtrl.transmissionOption"
                 dropdown-onchange="osagoCtrl.getCarDetailsOptions()"
                 dropdown-model="osagoCtrl.osagoInsuranceForm.transmission"
                 dropdown-item-label="text">
            </div>
        </div>
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_region">
                <p class="name">Регион регистрации</p>
                <p class="error" ng-show="(form.$submitted || form.carRegion.$touched) && form.$error.carRegionRequired">Выберите регион регистрации</p>
            </label>
            <angucomplete-alt id="osagoCtrl_osagoInsuranceForm_brand"
                              placeholder="укажите"
                              selected-object="osagoCtrl.osagoInsuranceForm.region"
                              local-data="osagoCtrl.regionOptions"
                              title-field="title"
                              minlength="1"
                              field-required="true"
                              search-fields="title"
                              field-required-class="carRegionRequired"
                              text-searching="Идёт поиск..."
                              text-no-results="Ничего не найдено"
                              input-class="big"
                              input-name="carRegion" />
            
        </div>
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_power">
                <p class="name">Мощность двигателя</p>
                <p class="error" ng-show="(form.$submitted || form.power.$touched) && form.power.$invalid">Выберите мощность двигателя</p>
            </label>
            <input type="number" name="power" class="big" id="osagoCtrl_osagoInsuranceForm_power" ng-model="osagoCtrl.osagoInsuranceForm.power" min="0" placeholder="в лошадиных силах" required />
        </div>
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_startUsingDate">
                <p class="name">Дата начала использования автомобиля</p>
                <p class="error" ng-show="(form.$submitted || form.startUsingDate.$touched) && form.startUsingDate.$invalid">Выберите дату</p>
            </label>
            <input type="text" ng-readonly="true" name="startUsingDate" class="big date" id="osagoCtrl_osagoInsuranceForm_startUsingDate" ng-model="osagoCtrl.osagoInsuranceForm.startUsingDate | amDateFormat:'DD MMMM YYYY'" ng-click="osagoCtrl.showStartUsingDate = !osagoCtrl.showStartUsingDate" required />
        </div>
        <div pickadate="" ng-show="osagoCtrl.showStartUsingDate" ng-model="osagoCtrl.osagoInsuranceForm.startUsingDate" min-date="osagoCtrl.osagoInsuranceForm.buyingDate"></div>
        <a class="datepicker-close" ng-show="osagoCtrl.showStartUsingDate" ng-click="osagoCtrl.showStartUsingDate = !osagoCtrl.showStartUsingDate"><span>Закрыть</span></a>
        <div class="control">
            <label class="big" for="osagoCtrl_osagoInsuranceForm_carCost">
                <p class="name">Стоимость автомобиля</p>
                <p class="error" ng-show="(form.$submitted || form.carCost.$touched) && form.carCost.$invalid">Укажите стоимость автомобиля</p>
            </label>
            <input type="number" name="carCost" class="money big" id="osagoCtrl_osagoInsuranceForm_carCost" ng-model="osagoCtrl.osagoInsuranceForm.carCost" min="0" required/>
        </div>



        </div>
        <div class="closeButton" ng-class="{clButton:osagoCtrl.openAboutCar}" ng-show="isMobile" ng-click="osagoCtrl.openAboutCar = !osagoCtrl.openAboutCar"></div>

 </section>
    <section class="control-group" id="about-drivers">
        <h2 ng-click="(isMobile)?(osagoCtrl.openDataDrivers = !osagoCtrl.openDataDrivers): osagoCtrl.openDataDrivers = true;"><span>Данные по водителям</span><div ng-show="isMobile" ng-class="{wrong:((form.$submitted) && (osagoCtrl.osagoInsuranceForm.isIndividual.value == null || osagoCtrl.osagoInsuranceForm.isOwner.value == null)) }"></div>
                                            <div ng-show="isMobile" ng-class="{valid:((form.$submitted) && !(osagoCtrl.osagoInsuranceForm.isIndividual.value == null || osagoCtrl.osagoInsuranceForm.isOwner.value == null)) }"></div></h2>
        <div ng-show="osagoCtrl.openDataDrivers">
            <div class="control">
                <label class="big" for="osagoCtrl_osagoInsuranceForm_isIndividual">
                    <p class="name">Водитель</p>
                    <p class="error" ng-show="(form.$submitted) && (osagoCtrl.osagoInsuranceForm.isIndividual.value == null)">Выберите один из вариантов</p>
                </label>
                <div dropdown-select="osagoCtrl.isIndividualOptions"
                     dropdown-model="osagoCtrl.osagoInsuranceForm.isIndividual"
                     dropdown-item-label="text">
                </div>
            </div>
            <div class="control">
                <label class="big" for="osagoCtrl_osagoInsuranceForm_isOwner">
                    <p class="name">Собственник</p>
                    <p class="error" ng-show="(form.$submitted) && (osagoCtrl.osagoInsuranceForm.isOwner.value == null)">Выберите один из вариантов</p>
                </label>
                <div dropdown-select="osagoCtrl.isOwnerOptions"
                     dropdown-model="osagoCtrl.osagoInsuranceForm.isOwner"
                     dropdown-item-label="text">
                </div>
            </div>
            <div class="control">
                <label class="big" for="osagoCtrl_osagoInsuranceForm_modification">
                    <p class="name">Количество Водителей</p>
                </label>
                <div dropdown-select="osagoCtrl.driverOptions"
                     dropdown-model="osagoCtrl.driverCountModel"
                     dropdown-onchange="osagoCtrl.driversCountChange()"
                     dropdown-item-label="text">
                </div>
            </div>
        </div>
        <div class="closeButton" ng-class="{clButton:osagoCtrl.openDataDrivers}" ng-show="isMobile" ng-click="osagoCtrl.openDataDrivers = !osagoCtrl.openDataDrivers"></div>
        <!-- здесь будет список водителей -->
        <div class="driver" ng-repeat="driver in osagoCtrl.osagoInsuranceForm.drivers">
            <h2 ng-click="osagoCtrl.openDriver = !osagoCtrl.openDriver"><span class="white_bg">Водитель №{{$index + 1}} </span><div ng-show="isMobile" ng-class="{wrong:((form.$submitted) && (form.age{{$index}}.$invalid || form.experience{{$index}}.$invalid || form.isMale{{$index}}.$invalid || driver.martialStatus.value == null || driver.kids.value == null)) }"></div>
                                        <div ng-show="isMobile" ng-class="{valid:((form.$submitted) && !(form.age{{$index}}.$invalid || form.experience{{$index}}.$invalid || form.isMale{{$index}}.$invalid || driver.martialStatus.value == null || driver.kids.value == null)) }"></div></h2>
            <div ng-show="osagoCtrl.openDriver">
                <div class="control">
                    <label class="big">
                        <p class="name">Возраст</p>
                        <p class="error" ng-show="(form.$submitted || form.age{{$index}}.$touched) && form.age{{$index}}.$invalid">Укажите возраст</p>
                    </label>
                    <input type="number" name="age{{$index}}" class="big" ng-model="driver.age" min="18" placeholder="полных лет" required />
                </div>
                <div class="control">
                    <label class="big">
                        <p class="name">Стаж</p>
                        <p class="error" ng-show="(form.$submitted || form.experience{{$index}}.$touched) && form.experience{{$index}}.$invalid">Укажите стаж</p>
                    </label>
                    <input type="number" name="experience{{$index}}" class="big" ng-model="driver.experience" min="0" placeholder="полных лет" required />
                </div>
                <div class="control">
                    <label class="big">
                        <p class="name">Пол</p>
                        <p class="error" ng-show="(form.$submitted || form.isMale{{$index}}.$touched) && form.isMale{{$index}}.$invalid">Укажите пол</p>
                    </label>
                    <label class="big_radio">
                        <input type="radio" value="true" ng-model="driver.isMale" name="isMaleos{{$index}}" required />
                        <span></span>
                        <p>Мужской</p>
                    </label>
                    <label class="big_radio">
                        <input type="radio" value="false" ng-model="driver.isMale" name="isMaleos{{$index}}" required />
                        <span></span>
                        <p>Женский</p>
                    </label>
                </div>
                <div class="control">
                    <label class="big">
                        <p class="name">Семейное положение</p>
                        <p class="error" ng-show="(form.$submitted) && (driver.martialStatus.value == null)">Укажите семейное положение</p>
                    </label>
                    <div dropdown-select="osagoCtrl.martialStatusOptions"
                         dropdown-model="driver.martialStatus"
                         dropdown-item-label="text">
                    </div>
                </div>
                <div class="control">
                    <label class="big">
                        <p class="name">Дети</p>
                        <p class="error" ng-show="(form.$submitted) && (driver.kids.value == null)">Выберите один из вариантов</p>
                    </label>
                    <div dropdown-select="osagoCtrl.kidsOptions"
                         dropdown-model="driver.kids"
                         dropdown-item-label="text">
                    </div>
                </div>
            </div>
            <div class="closeButton" ng-class="{clButton:osagoCtrl.openDriver}" ng-show="isMobile" ng-click="osagoCtrl.openDriver = !osagoCtrl.openDriver"></div>
        </div>
    </section>
    <section class="control-group submit" id="submit">
        <label class="checkbox">
            <p>Cогласен с условиями использования</p>
            <input type="checkbox" name="isAgreed" ng-model="osagoCtrl.osagoInsuranceForm.isAgreed" required/>
            <span></span>
        </label>
        <p class="error" ng-show="(form.$submitted || form.isAgreed.$dirty) && form.isAgreed.$invalid">Вы должны согласится с условиями использования</p>
        <input type="submit" value="{{osagoCtrl.submitValue}}" />
    </section>
</form>