<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <rewrite>
      <rules>
        <!--Redirect selected traffic to index -->
        <rule name="Index Rule">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!--rule that let files be accessible-->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!--rule that let API be accessible-->
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/api/" negate="true" />
            <!--rule that let swagger docs be accessible-->
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/swagger/" negate="true" />
            <!--rule that let admin app be accessible-->
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/admin/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
        <!--Redirect selected traffic to admin app -->
        <rule name="Admin Rule" stopProcessing="true">
          <match url="^admin/.*" />
          <conditions logicalGrouping="MatchAll">
            <!--rule that let files be accessible-->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/admin.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
